global
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    log-tag haproxy
    maxconn 4096
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    stats socket /var/run/haproxy.sock mode 600 level admin
    <!-- {{ if exists "/frontend/https/cert" }}
    tune.ssl.default-dh-param 1024
    ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL
    ssl-default-bind-options no-sslv3
    {{ end }} -->

defaults
    log global
    mode http
    retries    3
    maxconn    2000
    contimeout    5000
    clitimeout    50000
    srvtimeout    50000

    # Setting options
    option httplog
    option logasap
    option dontlognull              # Disable logging of null connections as these can pollute the logs
    option redispatch               # Enable session redistribution in case of connection failure
    option tcp-smart-accept         # Performance tweak, saving one ACK packet during the accept sequence
    option tcp-smart-connect        # Performance tweak, saving of one ACK packet during the connect sequence
    option forwardfor
    option http-server-close

    # Setting timeouts
    timeout connect           5s
    timeout client           20s
    timeout server           15s
    timeout http-keep-alive   1s
    timeout check             2s

    # Slowloris protection
    timeout http-request     10s     # Slowloris protection
    timeout tarpit            1m     # tarpit hold time
    timeout queue             1m
    backlog                10000

listen stats
    bind *:8888
    stats enable
    stats uri /

frontend http-in
    bind *:80
    default_backend application-backend

backend application-backend
    balance leastconn
    option httpclose
    option forwardfor
    cookie JSESSIONID prefix

    {{range getvs "/app/your_awesome_app*"}}
    server {{.}} cookie A check
    {{end}}
